## ***TOPIC: String Based Assignment ***
### 1. Write a program to reverse a string.

In [ ]:
s = "muskan"

In [ ]:
s[::-1]

'naksum'

### 2. Check if a string is a palindrome.

In [ ]:
s = "malyalam"

s[::-1]

'malaylam'

### 3. Convert a string to uppercase.

In [ ]:
s = "pwskill"

In [ ]:
s.upper()

'PWSKILL'

### 4. Convert a string to lowercase.

In [ ]:
s = "PWSKILL"

In [ ]:
s.lower()

'pwskill'

### 5. Count the number of vowels in a string.

In [ ]:
def count_vowels(string):
    # Initialize a variable to keep track of the vowel count
    vowel_count = 0

    # Convert the input string to lowercase to handle both upper and lowercase vowels
    string = string.lower()

    # Define a set of vowels
    vowels = set("aeiou")

    # Iterate through each character in the string
    for char in string:
        # Check if the character is a vowel
        if char in vowels:
            # Increment the vowel count if the character is a vowel
            vowel_count += 1

    # Return the final vowel count
    return vowel_count

# Test the function
input_string = "Hello, how are you?"
result = count_vowels(input_string)
print("Number of vowels:", result)

Number of vowels: 7

## 6. Count the number of consonants in a string.

In [ ]:
def count_consonants(string):
    # Initialize a variable to keep track of the count of consonants
    consonant_count = 0

    # Define a set of consonant characters
    consonants = "bcdfghjklmnpqrstvwxyzBCDFGHJKLMNPQRSTVWXYZ"

    # Iterate through each character in the input string
    for char in string:
        # Check if the character is in the set of consonants
        if char in consonants:
            # Increment the consonant count
            consonant_count += 1

    # Return the final count of consonants
    return consonant_count

# Input string
input_string = input("Enter a string: ")

# Call the function and print the result
result = count_consonants(input_string)
print("Number of consonants:", result)

Enter a string: pwskill
Number of consonants: 6

## 7. Remove all whitespaces from a string.

In [ ]:
def remove_whitespace(input_string):
    # Step 1: Initialize an empty string to store the result.
    result = ""

    # Step 2: Iterate through each character in the input string.
    for char in input_string:
        # Step 3: Check if the character is a whitespace.
        if char != " ":
            # Step 4: If the character is not a whitespace, append it to the result string.
            result += char

    # Step 5: Return the result string with all whitespaces removed.
    return result

# Example usage
input_string = "Hello   World!  How's   it   going?"
output_string = remove_whitespace(input_string)
print(output_string)

HelloWorld!How'sitgoing?

### 8. Find the length of a string without using the `len()` function.

In [ ]:
s = "muskan"

count = 0

for char in 'muskan':

  count += 1

  print("the length of the string is:",count)

the length of the string is: 1
the length of the string is: 2
the length of the string is: 3
the length of the string is: 4
the length of the string is: 5
the length of the string is: 6

## 9. Check if a string contains a specific word.

In [ ]:
# Step 1: Input the string and the specific word
input_string = input("Enter a string: ")
specific_word = input("Enter the specific word to check for: ")

# Step 2: Check the specific word
if specific_word in input_string:

    print(f"The string contains the word '{specific_word}'.")
else:
    print(f"The string does not contain the word '{specific_word}'.")

Enter a string: my name is muskan sharma
Enter the specific word to check for: anurag
The string does not contain the word 'anurag'.

## 10. Replace a word in a string with another word.

In [ ]:
# Step 1: take  the input string
input_string = input("Enter a sentence: ")

# Step 2: take a input of old word and new word
old_word = input("Enter the word to be replaced: ")
new_word = input("Enter the new word: ")

# Step 3: replace a word with another word
modified_string = input_string.replace(old_word, new_word)

# Step 4: Print the modified string
print("Modified string:", modified_string)

Enter a sentence: hello muskan
Enter the word to be replaced: muskan
Enter the new word: students
Modified string: hello students

## 11. Count the occurrences of a word in a string.

In [ ]:
s = 'my name is muskan'

In [ ]:
s.count('is')

1

## 12. Find the first occurrence of a word in a string.

In [ ]:
s = 'muskan'

In [ ]:
s.find('m')

0

## 13. Find the last occurrence of a word in a string.

In [ ]:
s = 'hello welcome to my world'

In [ ]:
s.rfind('e')

12

## 14. Split a string into a list of words.

In [ ]:
s = '[hello my world]'

In [ ]:
type(s)

str

In [ ]:
s.split()

['[hello', 'my', 'world]']

## 15. Join a list of words into a string.

In [ ]:
l = ['hello', 'word', 'good', 'morning']

In [ ]:
" ".join(l)

'hello word good morning'

## 16. Convert a string where words are separated by spaces to one where words
are separated by underscores.

In [ ]:
def convert_to_underscore_separated(text):
    # Step 1: Use the replace() method to replace spaces with underscores.
    underscore_separated = text.replace(" ", "_")

    # Step 2: Return the converted string.
    return underscore_separated

# Example usage
text = "hello world good morning."
converted_text = convert_to_underscore_separated(text)
print("Converted text:", converted_text)

Converted text: hello_world_good_morning.

## 17. Check if a string starts with a specific word or phrase.

In [ ]:
s = 'muskan sharma'

In [ ]:
s.startswith('muskan')

True

## 18. Check if a string ends with a specific word or phrase.

In [ ]:
s = 'my name is muskan'

In [ ]:
s.endswith('muskan')

True

## 19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [ ]:
s = 'hello world'

In [ ]:
s.title()

'Hello World'

## 20. Find the longest word in a string.

In [ ]:
s = input('enter sentence:  ')

longest = max(s.split() , key = len)

print('longest word is: ' , longest)
print('and its length is : ' , len(longest))

enter sentence:  my name is muskan
longest word is:  muskan
and its length is :  6

## 21. Find the shortest word in a string.

In [ ]:
s = input('enter sentence:  ')

shortest = min(s.split() , key = len)

print('shortest word is: ' , shortest)
print('and its length is : ' , len(shortest))

enter sentence:  hello world good morning
shortest word is:  good
and its length is :  4

## 22. Reverse the order of words in a string.

In [ ]:



# input string
string = "my name is muskan sharma"
# reversing words in a given string
s = string.split()[::-1]
l = []
for i in s:
    # appending reversed words to l
    l.append(i)
# printing reverse words
print(" ".join(l))

sharma muskan is name my

## 23. Check if a string is alphanumeric.

In [ ]:
s = 'muskan'

In [ ]:
s.isalnum()

True

## 24. Extract all digits from a string.

In [ ]:

test_string = "There are 2 apples for 4 persons"

# printing original string
print("The original string : " + test_string)

# using List comprehension + isdigit() +split()
# getting numbers from string
res = [int(i) for i in test_string.split() if i.isdigit()]

# print result
print("The numbers list is :" + str(res))

The original string : There are 2 apples for 4 persons
The numbers list is :[2, 4]

## 25. Extract all alphabets from a string.

In [ ]:
ini_string = "123()#ASFGGasdd"

print("initial string :  ", ini_string)

res1 = " "

for i in ini_string:

   if i.isalpha():

    res1 = " ".join([res1, i])

print("first result:  ", str(res1))

initial string :   123()#ASFGGasdd
first result:     A S F G G a s d d

## 26 & 27. Count the number of uppercase and lowercase letters in a string.

In [ ]:
s = 'Pwskill'

lower = 0

upper = 0

for i in s:
      if(i.islower()):

           lower +=1
      else:

          upper +=1

print('the numbers of lower case characters is:', lower)

print('the numbers of upper case characters is:', upper)

the numbers of lower case characters is: 6
the numbers of upper case characters is: 1

## 28. Swap the case of each character in a string.

In [ ]:
s = 'pwskill'

In [ ]:
s.swapcase()

'PWSKILL'

## 29. Remove a specific word from a string.

In [ ]:
s = ' my name is muskan gupta sharma'

In [ ]:
s.replace('gupta',  "")               #using str.replace() method

' my name is muskan  sharma'

## 30. Check if a string is a valid email address.

In [ ]:
import re  # Import the regular expression module

def is_valid_email(email):
    pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$'  # Regular expression pattern for a basic email validation
    if re.match(pattern, email):
        return True
    else:
        return False

# Example email addresses
email1 = "example@email.com"
email2 = "invalid-email"
result1 = is_valid_email(email1)
result2 = is_valid_email(email2)
print(result1)
print(result2)

True
False

## 31. Extract the username from an email address string.

In [ ]:
email = 'muskan@gmail.com'

email.split('@')[0]              #extract username by string.split() method.

'muskan'

## 32. Extract the domain name from an email address string.

In [ ]:
enail = 'muskan@gmail.com'

email.split('@')[1]

'gmail.com'

## 33. Replace multiple spaces in a string with a single space.

In [ ]:
# using the join() and split() method

s = 'this  is a   data science  course'

words = s.split()

s = " ".join(words)

print(s)

this is a data science course

## 34. Check if a string is a valid URL.

In [ ]:
from urllib.parse import urlparse

def is_valid_url(url):
    try:
        result = urlparse(url)
        return all([result.scheme, result.netloc])  # Check if both scheme and netloc are present
    except ValueError:
        return False

# Example URLs
url1 = "https://www.example.com"
url2 = "invalid-url"
result1 = is_valid_url(url1)
result2 = is_valid_url(url2)
print(result1)  # Should print True
print(result2)  # Should print False

True
False

## 35. Extract the protocol (http or https) from a URL string.

In [ ]:
url = 'http://www.example.com'

url.split(':')[0]

'http'

## 36. Find the frequency of each character in a string.

In [ ]:
s = 'my name is muskan'

In [ ]:
test_str = "my name is muskan"

# using naive method to get count
# of each element in string
all_freq = {}

for i in test_str:
    if i in all_freq:
        all_freq[i] += 1
    else:
        all_freq[i] = 1

# printing result
print("Count of all characters in GeeksforGeeks is :\n "
      + str(all_freq))

Count of all characters in GeeksforGeeks is :
 {'m': 3, 'y': 1, ' ': 3, 'n': 2, 'a': 2, 'e': 1, 'i': 1, 's': 2, 'u': 1, 'k': 1}

## 37. Remove all punctuation from a string.

In [ ]:
import string

def remove_punctuation(input_string):
    # Create a translation table to remove punctuation
    translator = str.maketrans("", "", string.punctuation)

    # Use the translation table to remove punctuation from the input string
    clean_string = input_string.translate(translator)

    return clean_string

# Example string with punctuation
input_str = "Hello, world! How's it going?"

# Remove punctuation
cleaned_str = remove_punctuation(input_str)

# Print the cleaned string
print("Original string:", input_str)
print("Cleaned string:", cleaned_str)

Original string: Hello, world! How's it going?
Cleaned string: Hello world Hows it going

## 38. Check if a string contains only digits.

In [ ]:
s = '134353454'

In [ ]:
s.isdigit()

True

## 39. Check if a string contains only alphabets.

In [ ]:
s = 'pwskills'

In [ ]:
s.isalpha()

True

## 40. Convert a string to a list of characters.

In [ ]:
s = 'my name is muskan'

In [ ]:
s_list = list(s)

print(s_list)

['m', 'y', ' ', 'n', 'a', 'm', 'e', ' ', 'i', 's', ' ', 'm', 'u', 's', 'k', 'a', 'n']

## 41. Check if two strings are anagrams.

In [ ]:
s1 = 'listen'

s2 = 'silent'

if(sorted(s1) == sorted(s2)):
  print('the strings are anagram')
else:
  print('the strings are not anagram')

the strings are anagram

## 42. Encode a string using a Caesar cipher.

In [ ]:
# Define a function named caesar_cipher that encodes a string using a Caesar cipher.
def caesar_cipher(text, shift):
  """
  Encodes a string using a Caesar cipher.

  Args:
    text: The string to encode.
    shift: The number of positions to shift each letter.

  Returns:
    The encoded string.
  """

  # Initialize an empty string to store the encoded text.
  encoded_text = ""

  # Iterate through each character in the input text.
  for char in text:
    # Check if the character is alphabetic.
    if char.isalpha():
      # Calculate the encoded character's Unicode code point value by shifting it by the specified amount.
      # Ensure the value wraps around within the lowercase alphabet range (a-z).
      encoded_char = chr((ord(char) + shift - ord('a')) % 26 + ord('a'))
    else:
      # Keep non-alphabetic characters unchanged.
      encoded_char = char

    # Add the encoded character to the encoded text.
    encoded_text += encoded_char

  # Return the resulting encoded text.
  return encoded_text

# Define the input text and the shift value for encoding.
text = "Hello, world!"
shift = 3

# Call the caesar_cipher function to encode the text using the specified shift.
encoded_text = caesar_cipher(text, shift)

# Print the encoded text.
print("Encoded text:", encoded_text)

Encoded text: ehoor, zruog!

## 43. Decode a Caesar cipher encoded string.

In [ ]:
# Define a function to decode a string using a Caesar cipher
def caesar_cipher_decoder(text, shift):
    """
    Decodes a string using a Caesar cipher.

    Args:
        text: The string to decode.
        shift: The number of positions to shift each letter.

    Returns:
        The decoded string.
    """

    # Initialize an empty string to store the decoded text
    decoded_text = ""

    # Loop through each character in the input text
    for char in text:
        # Check if the character is an alphabetic character
        if char.isalpha():
            # Calculate the decoded character using the shift value
            decoded_char = chr((ord(char) - shift - ord('a')) % 26 + ord('a'))
        else:
            # If the character is not alphabetic, keep it unchanged
            decoded_char = char

        # Add the decoded character to the decoded text
        decoded_text += decoded_char

    # Return the fully decoded text
    return decoded_text

# Example input
text = "lopp, zruog!"
shift = 3

# Call the caesar_cipher_decoder function to decode the input text
decoded_text = caesar_cipher_decoder(text, shift)

# Print the decoded text
print("Decoded text:", decoded_text)

Decoded text: ilmm, world!

## 44. Find the most frequent word in a string.

In [ ]:
from statistics import mode
# initializing Matrix
test_list = ["pw skill is best", "students love pw skill", "pw  is awesome"]

# printing original list
print("The original list is : " + str(test_list))

# getting all words
temp = [wrd for sub in test_list for wrd in sub.split()]

# getting frequency
res = mode(temp)

# printing result
print("Word with maximum frequency : " + str(res))

The original list is : ['pw skill is best', 'students love pw skill', 'pw  is awesome']
Word with maximum frequency : pw

## 45. Find all unique words in a string.

In [ ]:
my_str = 'one one two two'

unique_words = set(my_str.split())
print(unique_words)  #  {'one', 'two'}

length = len(unique_words)
print(length)  #  2

{'one', 'two'}
2

## 46. Count the number of syllables in a string.

In [ ]:
import re

def count_syllables(word):
    # Count vowel groups using regular expression
    vowel_groups = re.findall(r'[aeiouy]+', word, re.IGNORECASE)

    return len(vowel_groups)

# Example words
word1 = "hello"


# Count syllables
syllables1 = count_syllables(word1)



# Print the results
print(f"'{word1}' has {syllables1} syllables.")

'hello' has 2 syllables.

## 47. Check if a string contains any special characters.

In [ ]:
import re

def contains_special_characters(input_string):
    # Define a regular expression pattern to match special characters
    pattern = re.compile(r'[!@#$%^&*()_+{}\[\]:;<>,.?~\\/]')

    # Use the search() method to find a match
    match = pattern.search(input_string)

    # Return True if a match is found, False otherwise
    return bool(match)

# Example strings
string1 = "Hello, world!"


# Check if strings contain special characters
result1 = contains_special_characters(string1)


# Print the results
print(f"'{string1}' contains special characters:", result1)

'Hello, world!' contains special characters: True

## 48. Remove the nth word from a string.

In [ ]:
def remove_nth_word(input_string, n):
    # Split the input string into words
    words = input_string.split()

    # Check if n is within a valid range
    if n >= 1 and n <= len(words):
        # Remove the nth word by excluding it from the words list
        removed_word = words.pop(n - 1)

        # Join the remaining words to form the modified string
        modified_string = ' '.join(words)

        return modified_string, removed_word
    else:
        return None, None

# Example string and n value
input_str = "This is an example sentence to test the function."
n_value = 4

# Remove the nth word
modified_str, removed_word = remove_nth_word(input_str, n_value)

# Print the results
print("Original string:", input_str)
if modified_str is not None:
    print("Modified string:", modified_str)
    print("Removed word:", removed_word)
else:
    print("Invalid n value.")

Original string: This is an example sentence to test the function.
Modified string: This is an sentence to test the function.
Removed word: example

## 49. Insert a word at the nth position in a string.

## 50. Convert a CSV string to a list of lists.

In [ ]:
def csv_string_to_list(csv_string):
    # Split the CSV string into lines
    lines = csv_string.split('\n')

    # Initialize an empty list to store the result
    result = []

    for line in lines:
        # Split each line into fields using comma as the delimiter
        fields = line.split(',')

        # Append the fields to the result list as a row
        result.append(fields)

    return result

# Example CSV string
csv_data = "Name, Age, Country\muskan, 24, india, 30, Canada\nBob, 22, UK"

# Convert CSV string to a list of lists
list_of_lists = csv_string_to_list(csv_data)

# Print the result
for row in list_of_lists:
    print(row)

['Name', ' Age', ' Country\\muskan', ' 24', ' india', ' 30', ' Canada']
['Bob', ' 22', ' UK']

# **List Based Practice Problem :**

## 1. Create a list with integers from 1 to 10.

In [ ]:
l = list(range(1,11))

In [ ]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
l = [1,2,3,4,5,6,7,8,9,10]

In [ ]:
type(l)

list

## 2. Find the length of a list without using the `len()` function.

In [ ]:
def custom_len(input_list):
    count = 0
    for _ in input_list:
        count += 1
    return count

my_list = [10, 20, 30, 40, 50]

# Find the length of the list using the custom_len function
length = custom_len(my_list)

# Print the length of the list
print("Length of the list:", length)

Length of the list: 5

## 3. Append an element to the end of a list.

In [ ]:
l = [1,6,8,9,55,99]

In [ ]:
l.append(67)

In [ ]:
l

[1, 6, 8, 9, 55, 99, 67]

## 4. Insert an element at a specific index in a list.

In [ ]:
l = [1,2,3,4,5,6,7,8,9]

In [ ]:
l.insert(1,6)

In [ ]:
l

[1, 6, 2, 3, 4, 5, 6, 7, 8, 9]

## 5. Remove an element from a list by its value.

In [ ]:
l = [2,4,5,6,8,10]

In [ ]:
l.remove(5)

In [ ]:
l

[2, 4, 6, 8, 10]

## 6. Remove an element from a list by its index.

In [ ]:
l = [1,2,4,6,8,9,5,3]

In [ ]:
l.pop(1)

2

In [ ]:
l

[1, 4, 6, 8, 9, 5, 3]

## 7. Check if an element exists in a list.

In [ ]:
# Example list
my_list = [2,4,6,8,10]

# Element to check
element_to_check = 8

# Check if the element exists in the list
if element_to_check in my_list:
    print(f"{element_to_check} exists in the list.")
else:
    print(f"{element_to_check} does not exist in the list.")

8 exists in the list.

## 8. Find the index of the first occurrence of an element in a list.

In [ ]:
l = [2,4,6,8,10]

In [ ]:
l.index(2)

0

## 9. Count the occurrences of an element in a list.

In [ ]:
l = [1,2,3,4,4,5,6,7,8,9]

In [ ]:
l.count(4)

2

## 10. Reverse the order of elements in a list.

In [ ]:
l = [1,2,3,4,5,6,7,8,9,10]

In [ ]:
l.reverse()

In [ ]:
l

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

## 11. Sort a list in ascending order.

In [ ]:
l = [2,1,5,9,4,3,1]

In [ ]:
l.sort()

In [ ]:
l

[1, 1, 2, 3, 4, 5, 9]

## 12. Sort a list in descending order.

In [ ]:
l = [2,4,6,1,3,9,8]

In [ ]:
l.sort(reverse=True)

In [ ]:
l

[9, 8, 6, 4, 3, 2, 1]

## 13. Create a list of even numbers from 1 to 20.

In [ ]:
# Use a list comprehension to create a list of even numbers from 1 to 20
even_numbers = [x for x in range(2, 21, 2)]

# Print the list of even numbers
print("List of even numbers:", even_numbers)

List of even numbers: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

## 14. Create a list of odd numbers from 1 to 20.

In [ ]:
# Use a list comprehension to create a list of odd numbers from 1 to 20
odd_numbers = [x for x in range(1, 21, 2)]

# Print the list of odd numbers
print("List of odd numbers:", odd_numbers)

List of odd numbers: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

## 15. Find the sum of all elements in a list.

In [ ]:
l = [10,20,30,40,50,60]

In [ ]:
l = sum(l)

In [ ]:
l

210

## 16. Find the maximum value in a list.

In [ ]:
l = [2,3,4,5,6,7,8,9]

In [ ]:
l = max(l)

In [ ]:
l

9

## 17. Find the minimum value in a list.

In [ ]:
l = [2,7,9,1,8]

In [ ]:
l = min(l)

In [ ]:
l

1

## 18. Create a list of squares of numbers from 1 to 10.

In [ ]:
# Use a list comprehension to create a list of squares of numbers from 1 to 10
squares = [x ** 2 for x in range(1, 11)]

# Print the list of squares
print("List of squares:", squares)

List of squares: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## 19. Create a list of random numbers.

In [ ]:
import random

# Create a list of random integers between 1 and 100
random_integers = [random.randint(1, 100) for _ in range(10)]

# Print the list of random integers
print("List of random integers:", random_integers)

List of random integers: [51, 62, 96, 51, 18, 7, 25, 92, 60, 77]

## 20. Remove duplicates from a list.

In [ ]:
# Example list with duplicates
my_list = [10, 20, 30, 20, 40, 10, 50, 30]

# Remove duplicates by converting to a set and back to a list
unique_list = set(my_list)

# Print the list without duplicates
print("List without duplicates:", unique_list)

List without duplicates: {40, 10, 50, 20, 30}

## 21. Find the common elements between two lists.

In [ ]:
def common_member(a, b):
	result = [i for i in a if i in b]
	return result

a = [1, 2, 3, 4, 5]
b = [5, 6, 7, 8, 9]

print("The common elements in the two lists are: ")
print(common_member(a, b))

The common elements in the two lists are:
[5]

## 22. Find the difference between two lists.

In [ ]:
# Example lists
list1 = [10, 20, 30, 40, 50]
list2 = [30, 40, 50, 60, 70]

# Find the difference between lists using the difference() method
difference = list(set(list1).difference(list2))

# Print the difference
print("Difference between lists:", difference)

Difference between lists: [20, 10]

## 23. Merge two lists.

In [ ]:
l1 = [1,2,3,4,5]

l2 = [6,7,8,9,10]

In [ ]:
l1 + l2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## 24. Multiply all elements in a list by 2.

In [ ]:

my_list = [10, 20, 30, 40, 50]

# Multiply all elements by 2 using a list comprehension
multiplied_list = [x * 2 for x in my_list]

# Print the multiplied list
print("Multiplied list:", multiplied_list)

Multiplied list: [20, 40, 60, 80, 100]

## 25. Filter out all even numbers from a list.

In [ ]:
list = [1,2,3,4,5]

#output list initialisation

out = []

for num in list:

    if num % 2 == 0:

        out.append(num)

        print(out)

[2]
[2, 4]

## 26. Convert a list of strings to a list of integers.

In [ ]:
# Example list of strings
string_list = ["10", "20", "30", "40", "50"]

# Convert list of strings to list of integers using a list comprehension
integer_list = [int(x) for x in string_list]

# Print the list of integers
print("List of integers:", integer_list)

List of integers: [10, 20, 30, 40, 50]

## 27. Convert a list of integers to a list of strings.

In [ ]:
# Example list of integers
integer_list = [10, 20, 30, 40, 50]

# Convert list of integers to list of strings using a list comprehension
string_list = [str(x) for x in integer_list]

# Print the list of strings
print("List of strings:", string_list)

List of strings: ['10', '20', '30', '40', '50']

## 28. Flatten a nested list.

In [ ]:
l = [[1],[2,3],[4,5,6]]

flatten_list = []

for sublist in l:
    for num in sublist:

      flatten_list.append(num)

      print(flatten_list)

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]

## 29. Create a list of the first 10 Fibonacci numbers.

In [ ]:
# Function to generate the first n Fibonacci numbers
def generate_fibonacci(n):
    fibonacci_list = [0, 1]  # Initialize the list with the first two Fibonacci numbers

    for i in range(2, n):
        next_fibonacci = fibonacci_list[i - 1] + fibonacci_list[i - 2]
        fibonacci_list.append(next_fibonacci)

    return fibonacci_list

# Generate the first 10 Fibonacci numbers
fibonacci_numbers = generate_fibonacci(2)

# Print the list of Fibonacci numbers
print("First 10 Fibonacci numbers:", fibonacci_numbers)

First 10 Fibonacci numbers: [0, 1]

## 30. Check if a list is sorted.

In [ ]:
# Function to check if a list is sorted in ascending order
def is_sorted_ascending(lst):
    for i in range(1, len(lst)):
        if lst[i] < lst[i - 1]:
            return False
    return True

# Example list
ascending_list = [10, 20, 30, 40, 50]

# Check if the list is sorted in ascending order
if is_sorted_ascending(ascending_list):
    print("The list is sorted in ascending order.")
else:
    print("The list is not sorted in ascending order.")

The list is sorted in ascending order.

## 31. Rotate a list to the left by `n` positions.

In [ ]:
# Function to rotate a list to the left by n positions
def rotate_left(lst, n):
    n = n % len(lst)  # Normalize n to handle cases where n is larger than the list length
    # print(n)
    rotated = lst[n:] + lst[:n]
    return rotated

# Example list
my_list = [1, 2, 3, 4, 5, 6]

# Number of positions to rotate by
n = 2

# Rotate the list to the left by n positions
rotated_list = rotate_left(my_list, n)

# Print the rotated list
print("Rotated list:", rotated_list)

Rotated list: [3, 4, 5, 6, 1, 2]

## 32. Rotate a list to the right by `n` positions.

In [ ]:
# Function to rotate a list to the right by n positions
def rotate_right(lst, n):
    n = n % len(lst)  # Normalize n to handle cases where n is larger than the list length
    # print(n)
    rotated = lst[-n:] + lst[:-n]
    return rotated

# Example list
my_list = [1, 2, 3, 4, 5, 6]

# Number of positions to rotate by
n = 2

# Rotate the list to the right by n positions
rotated_list = rotate_right(my_list, n)

# Print the rotated list
print("Rotated list:", rotated_list)

Rotated list: [5, 6, 1, 2, 3, 4]

## 33. Create a list of prime numbers up to 50.

In [ ]:
# Function to check if a number is prime
def is_prime(num):
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
      print(i,num)
      if num % i == 0 or num % (i + 2) == 0:
          return False
      i += 6
    return True

# Create a list of prime numbers up to 50
prime_numbers = [num for num in range(2,30) if is_prime(num)]

# Print the list of prime numbers
print("List of prime numbers up to 50:", prime_numbers)

5 25
5 29
List of prime numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

## 34. Split a list into chunks of size `n`.

In [ ]:
# Create a list of prime numbers up to 50 using Sieve of Eratosthenes algorithm
def sieve_of_eratosthenes(limit):
    primes = []
    is_prime = [True] * (limit + 1)
    is_prime[0] = is_prime[1] = False

    for num in range(2, int(limit ** 0.5) + 1):
        if is_prime[num]:
            primes.append(num)
            for multiple in range(num * num, limit + 1, num):
                is_prime[multiple] = False

    for num in range(int(limit ** 0.5) + 1, limit + 1):
        if is_prime[num]:
            primes.append(num)

    return primes

# Create a list of prime numbers up to 50
prime_numbers = sieve_of_eratosthenes(50)

# Print the list of prime numbers
print("List of prime numbers up to 50:", prime_numbers)

List of prime numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

## 35. Find the second largest number in a list.

In [ ]:
# Example list
my_list = [10, 5, 20, 15, 30, 25]

# Remove duplicates and sort the list in ascending order
sorted_list = sorted(set(my_list))

# Find the second largest number
if len(sorted_list) >= 2:
    second_largest = sorted_list[-2]
    print("Second largest number:", second_largest)
else:
    print("The list does not contain enough elements.")

Second largest number: 25

## 36. Replace every element in a list with its square.

In [ ]:
# Example list
my_list = [2, 4, 6, 8, 10]

# Replace every element with its square using a list comprehension
squared_list = [x ** 2 for x in my_list]

# Print the squared list
print("Squared list:", squared_list)

Squared list: [4, 16, 36, 64, 100]

## 37. Convert a list to a dictionary where list elements become keys and their
indices become values.

In [ ]:
# Example list
my_list = ['apple', 'banana', 'cherry', 'date', 'elderberry']

# Convert list to dictionary using dictionary comprehension
my_dict = {element: index for index, element in enumerate(my_list)}

# Print the resulting dictionary
print("Converted dictionary:", my_dict)

Converted dictionary: {'apple': 0, 'banana': 1, 'cherry': 2, 'date': 3, 'elderberry': 4}

## 38. Shuffle the elements of a list randomly.

In [ ]:
import random

# Example list
my_list = [1, 2, 3, 4, 5, 6]

# Shuffle the list randomly
random.shuffle(my_list)

# Print the shuffled list
print("Shuffled list:", my_list)

Shuffled list: [4, 5, 2, 3, 1, 6]

## 39. Create a list of the first 10 factorial numbers.

In [ ]:
# Function to calculate factorial
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

# Create a list of the first 10 factorial numbers
factorial_numbers = [factorial(i) for i in range(10)]

# Print the list of factorial numbers
print("List of the first 10 factorial numbers:", factorial_numbers)

List of the first 10 factorial numbers: [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

## 40. Check if two lists have at least one element in common.

In [ ]:
def common_member(a, b):
	result = [i for i in a if i in b]
	return result

a = [1, 2, 3, 4, 5]
b = [5, 6, 7, 8, 9]

print("The common elements in the two lists are: ")
print(common_member(a, b))

The common elements in the two lists are:
[5]

## 41. Remove all elements from a list.

In [ ]:
l = [1,2,3,4,5]

In [ ]:
l.clear()

In [ ]:
l

[]

## 42. Replace negative numbers in a list with 0.

In [ ]:
# Example list
my_list = [10, -5, 20, -15, 30, -25]

# Step 1: Iterate through the list and replace negative numbers with 0
for i in range(len(my_list)):
    if my_list[i] < 0:
        my_list[i] = 0

# Print the list after replacing negative numbers with 0
print("List after replacing negative numbers with 0:", my_list)

List after replacing negative numbers with 0: [10, 0, 20, 0, 30, 0]

## 43. Convert a string into a list of words.

In [ ]:
s = 'my name is muskan'

In [ ]:
l1 = s.split()

In [ ]:
l1

['my', 'name', 'is', 'muskan']

## 44. Convert a list of words into a string.

In [ ]:
# Example list of words
word_list = ["Hello,", "this", "is", "a", "sample", "sentence."]

# Convert the list of words into a string
my_string = " ".join(word_list)

# Print the resulting string
print("Converted string:", my_string)

Converted string: Hello, this is a sample sentence.

## 45. Create a list of the first `n` powers of 2.

In [ ]:
# Specify the value of n
n = 5

# Create a list of the first n powers of 2 using a loop
power_list = [2 ** i for i in range(n)]

# Print the list of powers of 2
print("List of the first", n, "powers of 2:", power_list)

List of the first 5 powers of 2: [1, 2, 4, 8, 16]

## 46. Find the longest string in a list of strings.

In [ ]:
# Example list of strings
string_list = ["my ", "name", "is", "muskan", "sharma"]

# Find the longest string in the list
longest_string = ""
for s in string_list:
    if len(s) > len(longest_string):
        longest_string = s

# Print the longest string
print("Longest string:", longest_string)

Longest string: muskan

## 47. Find the shortest string in a list of strings.

In [ ]:
# Example list of strings
string_list = ["my ", "name", "is", "anurag", "sharma"]

# Find the shortest string in the list
shortest_string = string_list[0]  # Initialize with the first string
for s in string_list:
    if len(s) < len(shortest_string):
        shortest_string = s

# Print the shortest string
print("Shortest string:", shortest_string)

Shortest string: is

## 48. Create a list of the first `n` triangular numbers.

In [ ]:
# Function to calculate triangular numbers
def triangular_numbers(n):
    return [i * (i + 1) // 2 for i in range(1, n + 1)]

# Specify the value of n
n = 5

# Create a list of the first n triangular numbers
triangular_list = triangular_numbers(n)

# Print the list of triangular numbers
print("List of the first", n, "triangular numbers:", triangular_list)

List of the first 5 triangular numbers: [1, 3, 6, 10, 15]

## 49. Check if a list contains another list as a subsequence.

In [ ]:
# Function to check if a list contains another list as a subsequence
def is_subsequence(subsequence, main_list):
    subseq_index = 0  # Index for the subsequence elements
    for element in main_list:
        if element == subsequence[subseq_index]:
            subseq_index += 1
            if subseq_index == len(subsequence):
                return True
    return False

# Example main list and subsequence
main_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
subsequence = [3, 5, 8]

# Check if the main list contains the subsequence
if is_subsequence(subsequence, main_list):
    print("Main list contains the subsequence.")
else:
    print("Main list does not contain the subsequence.")

Main list contains the subsequence.

## 50. Swap two elements in a list by their indices.

In [ ]:
# Example list
my_list = [1, 2, 3, 4, 5]

# Indices of elements to swap
index1 = 1
index2 = 3

# Swap the elements at the specified indices
temp = my_list[index1]
my_list[index1] = my_list[index2]
my_list[index2] = temp

# Print the list after swapping
print("List after swapping elements:", my_list)

List after swapping elements: [1, 4, 3, 2, 5]

# **Tuple Based Practice Problem :**

## 1. Create a tuple with integers from 1 to 5.

In [ ]:
# tuple with integers 1 to 5

t = (1,2,3,4,5)

In [ ]:
type(t)

tuple

## 2. Access the third element of a tuple.

In [ ]:
t = (10,20,30,40,50)

third_element = t[2]

print("the third element is:",third_element)

the third element is: 30

## 3. Find the length of a tuple without using the `len()` function.

In [ ]:
# Step 1: Create a tuple
my_tuple = (10, 20, 30, 40, 50)

# Step 2: Initialize a variable to count the elements
count = 0

# Step 3: Iterate through the tuple and increment the count for each element
for _ in my_tuple:
    count += 1

# Step 4: Print the length of the tuple
print("The length of the tuple is:", count)

The length of the tuple is: 5

## 4. Count the occurrences of an element in a tuple.

In [ ]:
t = (1,2,3,3,4,5,6,3,7,3,8,9)

In [ ]:
t.count(3)

4

## 5. Find the index of the first occurrence of an element in a tuple.

In [ ]:
t = (1,3,3,4,5,6,7,8,9)

In [ ]:
t.index(3)

1

## 6. Check if an element exists in a tuple.

In [ ]:
# Step 1: Create a tuple
my_tuple = (10, 20, 30, 40, 50)

# Step 2: Choose the element to check for existence
element_to_check = 30

# Step 3: Check if the element exists in the tuple using the 'in' operator
if element_to_check in my_tuple:
    print(f"{element_to_check} exists in the tuple.")
else:
    print(f"{element_to_check} does not exist in the tuple.")

30 exists in the tuple.

## 7. Convert a tuple to a list.

In [ ]:
t = (1,2,3,4,5)

my_list = list(t)

print('tuple:',t)
print('list:',my_list)

tuple: (1, 2, 3, 4, 5)
list: [1, 2, 3, 4, 5]

## 8. Convert a list to a tuple.

In [ ]:
# Step 1: Create a list
my_list = [10, 20, 30, 40, 50]

# Step 2: Convert the list to a tuple
my_tuple = tuple(my_list)

# Step 3: Print the resulting tuple
print("List:", my_list)
print("Tuple:", my_tuple)

List: [10, 20, 30, 40, 50]
Tuple: (10, 20, 30, 40, 50)

## 9. Unpack the elements of a tuple into variables.

In [ ]:
# Step 1: Create a tuple
my_tuple = (10, 20, 30)

# Step 2: Unpack the elements of the tuple into variables
var1, var2, var3 = my_tuple

# Step 3: Print the variables
print("var1:", var1)
print("var2:", var2)
print("var3:", var3)

var1: 10
var2: 20
var3: 30

## 10. Create a tuple of even numbers from 1 to 10.

In [ ]:
# Step 1: Create a list of even numbers using a list comprehension
even_numbers_list = [num for num in range(2, 11, 2)]  # Start from 2, step by 2, end at 10

# Step 2: Convert the list to a tuple
even_numbers_tuple = tuple(even_numbers_list)

# Step 3: Print the resulting tuple
print("Tuple of even numbers:", even_numbers_tuple)

Tuple of even numbers: (2, 4, 6, 8, 10)

## 11. Create a tuple of odd numbers from 1 to 10.

In [ ]:
# Step 1: Create a list of even numbers using a list comprehension
odd_numbers_list = [num for num in range(1, 11, 2)]  # Start from 2, step by 2, end at 10

# Step 2: Convert the list to a tuple
odd_numbers_tuple = tuple(odd_numbers_list)

# Step 3: Print the resulting tuple
print("Tuple of odd numbers:", odd_numbers_tuple)

Tuple of odd numbers: (1, 3, 5, 7, 9)

## 12. Concatenate two tuples.

In [ ]:
t1 = (1,2,3)

In [ ]:
t2 = (4,5,6)

In [ ]:
t1 + t2

(1, 2, 3, 4, 5, 6)

## 13. Repeat a tuple three times.

In [ ]:
t = (1,2,3,4,5)

In [ ]:
t * 3

## 14. Check if a tuple is empty.

In [ ]:
# Step 1: Create an empty tuple and a non-empty tuple
empty_tuple = ()
non_empty_tuple = (1, 2, 3)

# Step 2: Check if the tuples are empty
if not empty_tuple:
    print("The empty_tuple is empty.")
else:
    print("The empty_tuple is not empty.")

The empty_tuple is empty.

## 15. Create a nested tuple.

In [ ]:
# Step 1: Create a nested tuple
nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), (True, False))

# Step 2: Print the nested tuple
print("Nested tuple:", nested_tuple)

Nested tuple: ((1, 2, 3), ('a', 'b', 'c'), (True, False))

## 16. Access the first element of a nested tuple.

In [ ]:
# Step 1: Create a nested tuple
nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), (True, False))

# Step 2: Access the first element of the nested tuple
first_element = nested_tuple[0]

# Step 3: Print the first element
print("First element of the nested tuple:", first_element)

First element of the nested tuple: (1, 2, 3)

## 17. Create a tuple with a single element.

In [ ]:
t = (42,)

print('single element tuple:',t)

single element tuple: (42,)

## 18. Compare two tuples.

In [ ]:
t1 = (1,2,3)

t2 = (1,3,4)

In [ ]:
#now compare the tuples

t1 == t2      #equality check

False

In [ ]:
t1 > t2      #greater than check

False

In [ ]:
t1 < t2     #less than check

True

In [ ]:
t1 != t2    #inequality check

True

In [ ]:
t1 >= t2    #greater than equal check

False

In [ ]:
t1 <= t2    #less than equal check

True

## 19. Delete a tuple.

In [ ]:
t = (1,2,3)

In [ ]:
del t      #by using del keyword

In [ ]:
t

NameError: ignored

## 20. Slice a tuple.

In [ ]:
t = (1,2,3,4,5,6,7,8,9)

In [ ]:
t [2:6]           #slice the tuple

(3, 4, 5, 6)

## 21. Find the maximum value in a tuple.

In [ ]:
t = (1,2,3,4,5)

In [ ]:
max(t)

5

## 22. Find the minimum value in a tuple.

In [ ]:
t = (1,2,3,4,5)

In [ ]:
min(t)

1

## 23. Convert a string to a tuple of characters.

In [ ]:
# Step 1: Create a string
s7= "Hello, World!"

# Step 2: Convert the string to a tuple of characters
tuple_of_characters = tuple(s7)

# Step 3: Print the tuple of characters
print("Tuple of characters:", tuple_of_characters)

Tuple of characters: ('H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!')

## 24. Convert a tuple of characters to a string.

In [ ]:
t = ('h','e','l','l','o')

string = "".join(t)

print(string)

hello

## 25. Create a tuple from multiple data types.

In [ ]:
mixed_tuple = (1,'hello',34.5,True)

## 26. Check if two tuples are identical.

In [ ]:
t1 = (1,2,3)

t2 = (1,2,3)

t1 == t2           #identity check

True

## 27. Sort the elements of a tuple.

In [ ]:
t = (1,5,7,8,3,4)

In [ ]:
sorted(t)

[1, 3, 4, 5, 7, 8]

## 28. Convert a tuple of integers to a tuple of strings.

## 29. Convert a tuple of strings to a tuple of integers.

In [ ]:
# Step 1: Create a tuple of strings
t1 = ('10', '20', '30', '40', '50')

# Step 2: Convert the tuple of strings to a tuple of integers using a list comprehension

t2 = t(int(item) for item in t1)

# Step 3: Print the tuple of integers
print("Tuple of integers:", t1)

TypeError: ignored

## 30. Merge two tuples.

In [ ]:
# Step 1: Create two tuples
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

# Step 2: Merge the two tuples using the '+' operator
merged_tuple = tuple1 + tuple2

# Step 3: Print the merged tuple
print("Merged tuple:", merged_tuple)

Merged tuple: (1, 2, 3, 4, 5, 6)

## 31. Flatten a nested tuple.

In [ ]:
# Recursive function to flatten a nested tuple
def flatten_tuple(nested_tuple):
    flattened = []
    for item in nested_tuple:
        if isinstance(item, tuple):
            flattened.extend(flatten_tuple(item))
        else:
            flattened.append(item)
    return flattened

nested_tuple = ((1, 2), (3, 4, 5), (6, (7, 8)))

t = tuple
flattened_tuple = (flatten_tuple(nested_tuple))

# Step 3: Print the flattened tuple
print("Flattened tuple:", flattened_tuple)

Flattened tuple: [1, 2, 3, 4, 5, 6, 7, 8]

## 32. Create a tuple of the first 5 prime numbers.

In [ ]:
# Function to check if a number is prime
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

# Generate the first 5 prime numbers
prime_numbers_list = [num for num in range(2, 100) if is_prime(num)][:5]

# Convert the list to a tuple

t = tuple
prime_numbers_tuple = tuple(prime_numbers_list)

# Print the tuple of prime numbers
print("Tuple of the first 5 prime numbers:", prime_numbers_tuple)

Tuple of the first 5 prime numbers: (2, 3, 5, 7, 11)

## 33. Check if a tuple is a palindrome.

In [ ]:
# Function to check if a tuple is a palindrome
def is_palindrome(tup):
    return tup == tup[::-1]

# Create tuples for testing
palindrome_tuple = (1, 2, 3, 2, 1)
non_palindrome_tuple = (1, 2, 3, 4, 5)

# Check if the tuples are palindromes
is_palindrome1 = is_palindrome(palindrome_tuple)
is_palindrome2 = is_palindrome(non_palindrome_tuple)

# Print the results
print("palindrome_tuple is a palindrome:", is_palindrome1)
print("non_palindrome_tuple is a palindrome:", is_palindrome2)

palindrome_tuple is a palindrome: True
non_palindrome_tuple is a palindrome: False

## 34. Create a tuple of squares of numbers from 1 to 5.

In [ ]:
# Create a tuple of squares using a list comprehension
squares_tuple = tuple(x ** 2 for x in range(1, 6))

# Print the tuple of squares
print("Tuple of squares:", squares_tuple)

Tuple of squares: (1, 4, 9, 16, 25)

## 35. Filter out all even numbers from a tuple.

In [ ]:
# Create a tuple
original_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

# Filter out even numbers using a list comprehension
t = tuple
filtered_tuple = t(num for num in original_tuple if num % 2 != 0)

# Print the filtered tuple
print("Filtered tuple:", filtered_tuple)

Filtered tuple: (1, 3, 5, 7, 9)

## 36. Multiply all elements in a tuple by 2.

In [ ]:
def multiply_tuple(test_tup):
  res = ()
  for ele in test_tup:
    res += (ele * 2,)
  return(res)
test_tup = (1,2,3,4,5,)
print('original tuple:'+ str(test_tup))
print('multiplied tuple:'+str(multiply_tuple(test_tup)))

original tuple:(1, 2, 3, 4, 5)
multiplied tuple:(2, 4, 6, 8, 10)

## 37. Create a tuple of random numbers.

In [ ]:
import random

# Create a tuple of random numbers using a list comprehension
random_tuple = tuple(random.randint(1, 100) for _ in range(10))  # Generating 10 random numbers between 1 and 100

# Print the tuple of random numbers
print("Random tuple:", random_tuple)

Random tuple: (65, 11, 70, 47, 23, 66, 91, 18, 72, 68)

## 38. Check if a tuple is sorted.

In [ ]:
# Function to check if a tuple is sorted
def is_sorted(tup):
    for i in range(len(tup) - 1):
        if tup[i] > tup[i + 1]:
            return False
    return True

# Create tuples for testing
sorted_tuple = (1, 2, 3, 4, 5)
unsorted_tuple = (5, 3, 1, 4, 2)

# Check if the tuples are sorted
is_sorted1 = is_sorted(sorted_tuple)
is_sorted2 = is_sorted(unsorted_tuple)

# Print the results
print("sorted_tuple is sorted:", is_sorted1)
print("unsorted_tuple is sorted:", is_sorted2)

sorted_tuple is sorted: True
unsorted_tuple is sorted: False

## 39. Rotate a tuple to the left by `n` positions.

In [ ]:
def rotate_tuple_left(tup, n):
    n = n % len(tup)  # Ensure n is within the range of tuple length
    rotated_tuple = tup[n:] + tup[:n]  # Rotate the tuple
    return rotated_tuple

# Example tuple
my_tuple = (1, 2, 3, 4, 5)
n_positions = 2
result = rotate_tuple_left(my_tuple, n_positions)
print(result)

(3, 4, 5, 1, 2)

## 40. Rotate a tuple to the right by `n` positions.

In [ ]:
def rotate_tuple_right(tup, n):
    n = n % len(tup)  # Ensure n is within the range of tuple length
    rotated_tuple = tup[-n:] + tup[:-n]  # Rotate the tuple
    return rotated_tuple

# Example tuple
my_tuple = (1, 2, 3, 4, 5)
n_positions = 2
result = rotate_tuple_right(my_tuple, n_positions)
print(result)

(4, 5, 1, 2, 3)

## 41. Create a tuple of the first 5 Fibonacci numbers.

## 42. Create a tuple from user input.

In [ ]:
# Taking user input for creating a tuple
input_str = input("Enter elements separated by commas: ")

# Splitting the input string into a list of strings
input_list = input_str.split(',')

# Converting the list of strings to a tuple
user_tuple = tuple(input_list)

# Printing the created tuple
print("User input tuple:", user_tuple)

Enter elements separated by commas: 1,2,3
User input tuple: ('1', '2', '3')

## 43. Swap two elements in a tuple.

In [ ]:
# Create a tuple
my_tuple = (1, 2, 3, 4, 5)

# Swap elements at indices 1 and 3
index1 = 1
index2 = 3
t = tuple
swapped_tuple = t(
    my_tuple[i] if i not in (index1, index2) else
    my_tuple[index2] if i == index1 else
    my_tuple[index1]
    for i in range(len(my_tuple))
)

# Print the swapped tuple
print("Swapped tuple:", swapped_tuple)

Swapped tuple: (1, 4, 3, 2, 5)

## 44. Reverse the elements of a tuple.

In [ ]:
# Create a tuple
my_tuple = (2,4,6,8)

# Reverse the elements using slicing
reversed_tuple = my_tuple[::-1]

# Print the reversed tuple
print("Reversed tuple:", reversed_tuple)

Reversed tuple: (8, 6, 4, 2)

## 45. Create a tuple of the first `n` powers of 2.

In [ ]:

n = 5

# Create a tuple of the first n powers of 2 using a list comprehension
powers_of_2_tuple = tuple(2 ** i for i in range(n))

# Print the tuple of powers of 2
print("Tuple of the first", n, "powers of 2:", powers_of_2_tuple)

Tuple of the first 5 powers of 2: (1, 2, 4, 8, 16)

## 46. Find the longest string in a tuple of strings.

In [ ]:
# Create a tuple of strings
string_tuple = ("one", "two", "three", "four", "five")

# Find the longest string in the tuple
longest_string = max(string_tuple, key=len)

# Print the longest string
print("Longest string:", longest_string)

Longest string: three

## 47. Find the shortest string in a tuple of strings.

In [ ]:
# Create a tuple of strings
string_tuple = ("one", "two", "three", "four", "five")

# Find the shortest string in the tuple
shortest_string = min(string_tuple, key=len)

# Print the shortest string
print("Shortest string:", shortest_string)

Shortest string: one

## 48. Create a tuple of the first `n` triangular numbers.

## 49. Check if a tuple contains another tuple as a subsequence.

In [ ]:
# Function to check if a tuple contains another tuple as a subsequence
def contains_subsequence(main_tuple, sub_tuple):
    sub_length = len(sub_tuple)
    for i in range(len(main_tuple) - sub_length + 1):
        if main_tuple[i:i+sub_length] == sub_tuple:
            return True
    return False

# Main tuple
main_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)

# Subsequence tuple
sub_tuple = (3, 4, 5)

# Check if the main tuple contains the subsequence tuple
contains_subseq = contains_subsequence(main_tuple, sub_tuple)

# Print the result
print("Main tuple contains subsequence tuple:", contains_subseq)

Main tuple contains subsequence tuple: True

## 50. Create a tuple of alternating 1s and 0s of length `n`.

In [ ]:
# Define the value of n
n = 10

# Create a tuple of alternating 1s and 0s using a list comprehension
alternating_tuple = tuple(i % 2 for i in range(n))

# Print the tuple of alternating 1s and 0s
print("Tuple of alternating 1s and 0s:", alternating_tuple)

Tuple of alternating 1s and 0s: (0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

# **Set Based Practice Problem :**

## 1. Create a set with integers from 1 to 5.

In [ ]:
# Step 1: Create an empty set
my_set = set()

# Step 2: Add integers from 1 to 5 to the set
my_set.add(1)
my_set.add(2)
my_set.add(3)
my_set.add(4)
my_set.add(5)


print(my_set)

{1, 2, 3, 4, 5}

## 2. Add an element to a set.

In [ ]:
my_set = {1,2,3,4}

In [ ]:
my_set.add(5)

In [ ]:
my_set

{1, 2, 3, 4, 5}

## 3. Remove an element from a set.

In [ ]:
s = {1,2,3,5,4}

In [ ]:
s.remove(5)

In [ ]:
s

{1, 2, 3, 4}

## 4. Check if an element exists in a set.

In [ ]:

my_set = {1, 3, 5, 7, 9,10}
element_to_check = int(input("Enter the element to check: "))

# Step 3: Use the "in" keyword to check if the element exists in the set
if element_to_check in my_set:
    # Step 4: If the element exists in the set, print a message
    print(f"{element_to_check} exists in the set.")
else:

    print(f"{element_to_check} does not exist in the set.")

Enter the element to check: 10
10 exists in the set.

## 5. Find the length of a set without using the `len()` function.

In [ ]:
# Create a set with some elements
my_set = {1, 2, 3, 4, 5,6}

count = 0

# Iterate through each element in the set
for _ in my_set:
    # Increase the count by 1 for each element
    count += 1

# Print the count
print("Length of the set:", count)

Length of the set: 6

## 6. Clear all elements from a set.

In [ ]:
s = {1,2,3,4,5}

In [ ]:
s.clear()

In [ ]:
s

set()

## 7. Create a set of even numbers from 1 to 10.

In [ ]:
even_number_list = [num for num in range(2,11,2)]

even_number_set = set(even_number_list)

print(even_number_set)

{2, 4, 6, 8, 10}

## 8. Create a set of odd numbers from 1 to 10.

In [ ]:
odd_number_list = [num for num in range(1,11,2)]

odd_number_set = set(odd_number_list)

print(odd_number_set)

{1, 3, 5, 7, 9}

## 9. Find the union of two sets.

In [ ]:
s1 = {1,2,3,4,5}

s2 = {1,2,3,4,5,6,7}

In [ ]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7}

## 10. Find the intersection of two sets.

In [ ]:
s1 = {1,2,3,4,5}

s2 = {3,4,5,6,7}

In [ ]:
s1.intersection(s2)

{3, 4, 5}

## 11. Find the difference between two sets.

In [ ]:
s1 = {1,2,3,4,5}

s2 = {3,4,5,6,7}

In [ ]:
s1.difference(s2)

{1, 2}

## 12. Check if a set is a subset of another set.

In [ ]:
s1 = {1,2,3,4,5}

s2 = {1,2,3,4,5,6,7,8}

In [ ]:
s1.issubset(s2)

True

## 13. Check if a set is a superset of another set.

In [ ]:
s1 = {1,2,3,4,5,6}

s2 = {1,2,3,4,5,6,7,8}

In [ ]:
s1.issuperset(s2)

False

## 14. Create a set from a list.

In [ ]:
#create a list
l= [1,2,3]
#create a set from a list
my_set = set(l)
#print
print(my_set)

{1, 2, 3}

## 15. Convert a set to a list.

In [ ]:
s = {1,2,3}

my_list = list(s)

print(my_list)

[1, 2, 3]

## 16. Remove a random element from a set.

In [ ]:
import random  # Import the random module

# Create a set with some elements
my_set = {1, 2, 3, 4, 5}

# Display the original set
print("Original set:", my_set)

# Choose a random element from the set using the random.choice() function
random_element = random.choice(list(my_set))

# Remove the chosen random element from the set using the remove() method
my_set.remove(random_element)

# Display the updated set after removing the random element
print("Updated set after removing", random_element, ":", my_set)

Original set: {1, 2, 3, 4, 5}
Updated set after removing 2 : {1, 3, 4, 5}

## 17. Pop an element from a set.

In [ ]:
s = {1,2,3}

In [ ]:
s.pop()

1

## 18. Check if two sets have no elements in common.

In [ ]:
# Step 1: Define two sets
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}

# Step 2: Check if the intersection of the two sets is empty
# The intersection is the set of elements that are common to both sets
common_elements = set1.intersection(set2)

# Step 3: Check if the common_elements set is empty
if not common_elements:
    print("The two sets have no elements in common.")
else:
    print("The two sets have common elements:", common_elements)

The two sets have no elements in common.

## 19. Find the symmetric difference between two sets.

In [ ]:
s1 = {1,2,3,4,5}
s2 = {1,2,3,4,5,6,7}

my_set = s1 ^ s2

print(my_set)

{6, 7}

## 20. Update a set with elements from another set.

In [ ]:
s1 = {1,2,3}

s2 = {3,4,5}

In [ ]:
s1.update(s2)            #by using update

In [ ]:
s1                        # updated set

{1, 2, 3, 4, 5}

## 21. Create a set of the first 5 prime numbers.

In [ ]:
# Function to check if a number is prime
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

# Create an empty set to store the prime numbers
prime_set = set()

# Initialize the number to start checking for primes
num = 2

# Loop until we have found the first 5 prime numbers
while len(prime_set) < 5:
    # Check if the current number is prime using the is_prime function
    if is_prime(num):
        # If the number is prime, add it to the prime_set
        prime_set.add(num)

    # Move on to the next number for the next iteration
    num += 1

# Print the set of prime numbers
print("Set of the first 5 prime numbers:", prime_set)

Set of the first 5 prime numbers: {2, 3, 5, 7, 11}

## 22. Check if two sets are identical.

In [ ]:
s1 = {1,2,3,4}

s2 = {1,2,3,4}

In [ ]:
#for identity check

s1 == s2

True

## 23. Create a frozen set.

In [ ]:
# Step 2: Define a list of elements that you want to include in the frozen set
elements = [1, 2, 3, 4, 5]

# Step 3: Create a frozen set using the 'frozenset' constructor and passing the list of elements
my_frozen_set = frozenset(elements)

# Step 4: Print the frozen set
print("Frozen Set:", my_frozen_set)

Frozen Set: frozenset({1, 2, 3, 4, 5})

## 24. Check if a set is disjoint with another set.

In [ ]:
s1 = {1,2,3,4}
s2 = {3,4,5,6}

In [ ]:
s1.isdisjoint(s2)

False

## 25. Create a set of squares of numbers from 1 to 5.

In [ ]:
# Step 1: Create an empty set to store the squares of numbers
squares_set = set()

# Step 2: Use a loop to iterate through numbers from 1 to 5
for num in range(1, 6):
    # Step 3: Calculate the square of the current number
    square = num ** 2

    # Step 4: Add the square to the set
    squares_set.add(square)

# Step 5: Print the set of squares
print(squares_set)

{1, 4, 9, 16, 25}

## 26. Filter out all even numbers from a set.

In [ ]:
# Step 1: Create a set with integers from 1 to 5
original_set = {1, 2, 3, 4, 5}

# Step 2: Initialize an empty set to store the filtered even numbers
even_numbers_set = set()

# Step 3: Iterate through each element in the original set
for num in original_set:
    # Step 4: Check if the current number is even (divisible by 2)
    if num % 2 == 0:
        # Step 5: If even, add it to the even_numbers_set
        even_numbers_set.add(num)

# Step 6: Print the original set and the set containing even numbers
print("Original Set:", original_set)
print("Even Numbers Set:", even_numbers_set)

Original Set: {1, 2, 3, 4, 5}
Even Numbers Set: {2, 4}

## 27. Multiply all elements in a set by 2.

In [ ]:
# Create a set with integers from 1 to 5
original_set = {2,4,6,8}

# Initialize an empty set to store the multiplied elements
multiplied_set = set()

# Loop through each element in the original set
for num in original_set:
    # Multiply the current element by 2
    multiplied_num = num * 2

    # Add the multiplied element to the multiplied_set
    multiplied_set.add(multiplied_num)

# The original_set remains unchanged
print("Original Set:", original_set)

# Display the set with elements multiplied by 2
print("Multiplied Set:", multiplied_set)

Original Set: {8, 2, 4, 6}
Multiplied Set: {16, 8, 4, 12}

### 28. Create a set of random numbers.

In [ ]:
# Step 1: Import the `random` module to generate random numbers
import random

# Step 2: Define the number of random numbers you want in the set
num_random_numbers = 5

# Step 3: Initialize an empty set to store the random numbers
random_number_set = set()

# Step 4: Use a loop to generate random numbers and add them to the set
for _ in range(num_random_numbers):
    # Generate a random integer using the `randint` function from the `random` module
    random_num = random.randint(1, 100)  # Generate a random number between 1 and 100
    # Add the random number to the set
    random_number_set.add(random_num)

# Step 5: Print the generated set of random numbers
print("Generated set of random numbers:", random_number_set)

Generated set of random numbers: {39, 12, 49, 90, 63}

## 29. Check if a set is empty.

In [ ]:

my_set = set()

# Step 2: Check if the set is empty using the 'if' statement
if not my_set:
    print("The set is empty.")
else:
    print("The set is not empty.")

The set is empty.

## 30. Create a nested set (hint: use frozenset).

In [ ]:

set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}

# Step 2: Create frozensets from the inner sets
frozen_set1 = frozenset(set1)
frozen_set2 = frozenset(set2)

# Step 3: Create the nested set using the frozensets
nested_set = {frozen_set1, frozen_set2}

# Print the nested set
print("Nested Set:", nested_set)

Nested Set: {frozenset({1, 2, 3, 4, 5}), frozenset({6, 7, 8, 9, 10})}

## 31. Remove an element from a set using the discard method.

In [ ]:
s = {1,2,3,4,5}

In [ ]:
s.discard(3)

In [ ]:
s

{1, 2, 4, 5}

## 32. Compare two sets.

In [ ]:
# Step 1: Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Step 2: Use set operations to compare the sets
# Check if set1 is a subset of set2
is_subset = set1.issubset(set2)

# Check if set2 is a subset of set1
is_superset = set1.issuperset(set2)

# Find the intersection of the sets
intersection = set1.intersection(set2)

# Find the union of the sets
union = set1.union(set2)

# Find the elements that are in set1 but not in set2
difference1 = set1.difference(set2)

# Find the elements that are in set2 but not in set1
difference2 = set2.difference(set1)

# Step 3: Print the results
print("Set 1:", set1)
print("Set 2:", set2)
print("Is set1 a subset of set2?", is_subset)
print("Is set2 a subset of set1?", is_superset)
print("Intersection:", intersection)
print("Union:", union)
print("Elements in set1 but not in set2:", difference1)
print("Elements in set2 but not in set1:", difference2)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Is set1 a subset of set2? False
Is set2 a subset of set1? False
Intersection: {4, 5}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Elements in set1 but not in set2: {1, 2, 3}
Elements in set2 but not in set1: {8, 6, 7}

## 33. Create a set from a string.

In [ ]:
s = 'hello'

my_set = set(s)

print(my_set)

{'o', 'h', 'e', 'l'}

## 34. Convert a set of strings to a set of integers.

In [ ]:
# Step 1: Create a set of strings
string_set = {"123", "456", "789"}

# Step 2: Initialize an empty set to store integers
integer_set = set()

# Step 3: Iterate through each string in the string set
for string in string_set:
    # Step 4: Convert the string to an integer using the int() function
    integer_value = int(string)

    # Step 5: Add the integer to the integer set
    integer_set.add(integer_value)

# Step 6: Print the original string set and the converted integer set
print("Original String Set:", string_set)
print("Converted Integer Set:", integer_set)

Original String Set: {'456', '789', '123'}
Converted Integer Set: {456, 123, 789}

## 35. Convert a set of integers to a set of strings.

In [ ]:
# Step 1: Create a set of integers
integers_set = {1, 2, 3, 4, 5}

# Step 2: Initialize an empty set to store the strings
strings_set = set()

# Step 3: Iterate through each integer in the integers_set
for num in integers_set:
    # Step 4: Convert the integer to a string using the str() function
    num_str = str(num)

    # Step 5: Add the string representation to the strings_set
    strings_set.add(num_str)

# Step 6: Print the original integers_set and the converted strings_set
print("Original integers_set:", integers_set)
print("Converted strings_set:", strings_set)

Original integers_set: {1, 2, 3, 4, 5}
Converted strings_set: {'3', '4', '2', '1', '5'}

## 36. Create a set from a tuple.

In [ ]:
t = (1,2,3)

my_set = set(t)

print(my_set)

{1, 2, 3}

## 37. Convert a set to a tuple.

In [ ]:
s = {1,2,3,4}

my_tuple = tuple(s)

print(my_tuple)

(1, 2, 3, 4)

## 38. Find the maximum value in a set.

In [ ]:
# Define a set with some values
my_set = {2,4,6,8,10}

# Initialize a variable to store the maximum value
max_value = None

# Iterate through each element in the set
for num in my_set:
    # Check if max_value is None (first iteration) or if the current number is greater than max_value
    if max_value is None or num > max_value:
        max_value = num  # Update max_value with the current number if it's greater

# Print the maximum value
print("Maximum value:", max_value)

Maximum value: 10

## 39. Find the minimum value in a set.

In [ ]:
# Create a sample set of numbers
number_set = {15, 8, 23, 4, 42, 11}

# Initialize a variable to store the minimum value
min_value = None

# Iterate through each element in the set
for num in number_set:
    # Check if min_value is None (first iteration) or if num is smaller than the current min_value
    if min_value is None or num < min_value:
        # Update min_value to the current num since it's smaller
        min_value = num

# Print the minimum value found in the set
print("The minimum value in the set is:", min_value)

The minimum value in the set is: 4

## 40. Create a set from user input.

## 41. Check if the intersection of two sets is empty.

In [ ]:
# Step 1: Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Step 2: Find the intersection of the two sets using the `intersection()` method
intersection_result = set1.intersection(set2)

# Step 3: Check if the intersection result is empty
if not intersection_result:
    print("The intersection of the two sets is empty.")
else:
    print("The intersection of the two sets is not empty.")

The intersection of the two sets is not empty.

## 42. Create a set of the first 5 Fibonacci numbers.

In [ ]:
# Create a set to store the first 5 Fibonacci numbers
fibonacci_set = set()

# Initialize the first two Fibonacci numbers
a, b = 0, 1

# Loop to generate the first 5 Fibonacci numbers
for _ in range(6):
    # Add the current Fibonacci number to the set
    fibonacci_set.add(a)

    # Calculate the next Fibonacci number
    a, b = b, a + b

# Print the set of Fibonacci numbers
print("Set of the first 5 Fibonacci numbers:", fibonacci_set)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3, 5}

### 43. Remove duplicates from a list using sets.

In [ ]:
# Step 1: Define a list with duplicates
original_list = [2, 4, 6, 8, 4, 10, 6, 12, 14, 8]

# Step 2: Convert the list to a set
unique_set = set(original_list)

unique_list = list(unique_set)


# Step 4: Print the original list and the list with duplicates removed
print("Original List:", original_list)
print("List with Duplicates Removed:", unique_list)

Original List: [2, 4, 6, 8, 4, 10, 6, 12, 14, 8]
List with Duplicates Removed: [2, 4, 6, 8, 10, 12, 14]

### 44. Check if two sets have the same elements, regardless of their count.

In [ ]:
def have_same_elements(set1, set2):
    # Convert the sets to lists and sort them
    sorted_list1 = sorted(list(set1))
    sorted_list2 = sorted(list(set2))

    # Compare the sorted lists to check if they are equal
    return sorted_list1 == sorted_list2

# Example sets
set1 = {1, 2, 3, 2, 1}
set2 = {3, 1, 2}

# Check if the sets have the same elements
result = have_same_elements(set1, set2)

# Print the result
if result:
    print("The sets have the same elements.")
else:
    print("The sets do not have the same elements.")

The sets have the same elements.

## 45. Create a set of the first `n` powers of 2

In [ ]:
def generate_powers_of_2(n):
    # Initialize an empty set to store the powers of 2
    powers_of_2 = set()

    # Loop from 0 to n-1
    for i in range(n):
        # Calculate the current power of 2 using the exponentiation operator **
        power = 2 ** i

        # Add the current power of 2 to the set
        powers_of_2.add(power)

    # Return the set of powers of 2
    return powers_of_2

# Define the value of n
n = 5

# Call the function to generate the set of powers of 2
powers_set = generate_powers_of_2(n)

# Print the resulting set
print(powers_set)

{1, 2, 4, 8, 16}

## 46. Find the common elements between a set and a list.

In [ ]:
# Step 1: Define a set and a list
my_set = {3, 7, 9, 12, 15}
my_list = [7, 12, 5, 9]

# Step 2: Convert the list to a set for efficient comparison
list_to_set = set(my_list)

# Step 3: Initialize an empty list to store common elements
common_elements = []

# Step 4: Iterate through the elements in the set
for element in my_set:
    # Step 5: Check if the element is present in the converted set (list_to_set)
    if element in list_to_set:
        # Step 6: If the element is present in both the set and the list, add it to the common_elements list
        common_elements.append(element)

# Step 7: Print the common elements
print("Common elements:", common_elements)

Common elements: [7, 9, 12]

## 48. Check if a set contains another set as a subset.

In [ ]:
s1 = {1,2,3,4}

s2 =  {3,4}

In [ ]:
s2.issubset(s1)

True

## 49. Create a set of alternating 1s and 0s of length `n`.

In [ ]:
def create_alternating_set(n):
    # Initialize an empty set to store the alternating sequence.
    alternating_set = set()

    # Loop to generate alternating 1s and 0s.
    for i in range(n):
        # Alternate between adding 1 and 0 to the set based on whether i is even or odd.
        if i % 2 == 0:
            alternating_set.add(1)  # Add 1 if i is even.
        else:
            alternating_set.add(0)  # Add 0 if i is odd.

    return alternating_set

# Define the desired length of the alternating set.
length_n = 10

# Call the function to create the alternating set of length 'length_n'.
result = create_alternating_set(length_n)

# Print the resulting set.
print(result)

{0, 1}

## 50. Merge multiple sets into one.

In [ ]:
# Step 1: Create multiple sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

# Step 2: Use the union() method to merge sets
merged_set = set1.union(set2, set3)

# Alternatively, you can use the | operator
# merged_set = set1 | set2 | set3

# Step 3: Print the merged set
print("Merged Set:", merged_set)

Merged Set: {1, 2, 3, 4, 5, 6, 7}